.DS_Store
node_modules/
/dist/
build/win-unpacked/
build/win-ia32-unpacked/
npm-debug.log*
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
electron-vue-template-ts.7z
server/client/lan-chat Setup 0.0.1.exe
build/builder-effective-config.yaml
